@import "./global/global.css";
@import "./rating1.css/rating1.css";
@import "./rating2.css/rating2.css";
@import "./footer/footer.css";

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: -1.5rem;
  
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
